.container-tela-inicial {
    overflow-y: auto;
    position: relative;
    width: 390px;
    height: 844px;
    box-shadow: rgba(100, 100, 100, 0.1) 0px 7px 29px 0;
    border-radius: 10px;
}
.tela-inicial-cards-container {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.lancamentos-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
    color: var(--color-primary);
}

.lancamentos-container-header p {
    font-size: 14px;
}

.lancamentos-container-header .linha {
    width: 80px;
    height: 2px;
    opacity: .6;
    background: var(--color-primary);
}

.lancamentos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
}

.lancamentos-content .lancamentos-container {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
    gap: 1.5rem;
}

.lancamentos-content div p {
    color: #424242;
}

.lancamentos-content .fa-face-frown {
    font-size: 2rem;
    color: #424242;
}

.lancamentos-content-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lancamento-adicionar-btn {
    background: var(--color-primary);
    font-weight: bold;
    color: white;
    border: 1px solid var(--color-primary);
    outline: none;
    cursor: pointer;
    width: 80%;
    font-size: 14px;
    padding: 1rem 0;
    border-radius: 10px;
    transition: all .1s ease-out;
}

.lancamento-adicionar-btn:hover {
    color: var(--color-primary);
    background: transparent;
}

.lancamento-content-header-search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    margin: 1rem 0;
}

.lancamento-content-header-search-container .input-container {
    display: flex;
    align-items: center;
}

.lancamento-content-header-search-container .fa-magnifying-glass {
    background: #F4F4F4;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px 0 0 5px;
}

.lancamento-content-header-search-container input {
    background: #F4F4F4;
    outline: none;
    border: 1px solid transparent;
    align-self: flex-start;
    padding: 10px 10px 10px 0;
    border-radius: 0 5px 5px 0;
}

.lancamento-content-header-search-container .fa-filter {
    color: var(--color-primary);
    font-size: 20px;
    cursor: pointer;
}

.lancamento-content-header-search-container .filter-container {
    position: relative;
}

.lancamento-content-header-search-container .filter-container p {
    position: absolute;
    top: -8px;
    right: -5px;
    font-size: 10px;
    background: white;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}

.lancamento-content-nenhum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.lancamento-content-mostrar-mais-container {
    margin-top: 1rem;
}
.lancamento-content-mostrar-mais-container button {
    background: transparent;
    font-weight: bold;
    color: var(--color-primary);
    border: transparent;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .1s ease-out;
}

.lancamento-content-mostrar-mais-container button:hover {
    background: transparent;
    background: rgba(43, 212, 119, 0.1);
}