.card-cadastro-adm-container {
    display: flex;
    width: 1366px;
    height: 800px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-cadastro-adm-titulo {
    font-size: 2rem;
    color: var(--color-primary);
}

.card-cadastro-adm-descricao {
    font-size: 1.5rem;
    max-width: 80%;
    color: #8C9791;
    font-weight: normal;
    text-align: center;
}

.card-cadastro-adm-form {
    display: flex;
    width: 70%;
    flex-direction: column;
}

.card-cadastro-adm-form-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-cadastro-adm-label {
    color: #8C9791;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-left: 0.7rem; 
    position: relative;
    top: 30px;
    transition: all .1s ease-in;
    z-index: 1;
    pointer-events: none;
}

/* .cadastro-adm-label-active {
    top: 0;
} */

.card-cadastro-adm-input {
    border: none;
    border-bottom: 1px solid #2BD477;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 1.5rem;
}

#card-cadastro-adm-input-T {
    width: 50%;
}

.card-cadastro-adm-container-C {

}

#card-cadastro-adm-input-C {
    cursor: pointer;
}

#card-cadastro-adm-label-C {
    font-size: 1.5rem;
    color: #5B5B5B;
}

.card-cadastro-adm-label-L {
    color: #2BD477;
}

.card-cadastro-adm-label-L:hover {
    color: #009231;
    transition: 0.3s ease;
}

#card-cadastro-adm-B-cadastrar {
    padding: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2BD477;
    border: 1px solid #2BD477;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    pointer-events: none;
    opacity: .5;
}

#card-cadastro-adm-B-cadastrar:hover {
    background-color: #FFFFFF;
    color: #2BD477;
}

.card-cadastro-adm-btn-submit-enabled {
    pointer-events: all !important;
    opacity: 1 !important;
}

.card-cadastro-adm-logar-conta-container {
    display: flex;
    justify-content: center;
}

.card-cadastro-adm-logar-conta {
    color: #5B5B5B;
    font-size: 1.5rem;
    font-weight: normal;
}

.card-cadastro-adm-logar-conta-L {
    color: #2BD477;
    text-align: center;
    text-decoration: underline;
}

.card-cadastro-adm-logar-conta-L:hover {
    color: #009231;
    transition: 0.3s ease;
    cursor: pointer;
}

.card-cadastro-adm-erro-msg {
    font-size: 1rem;
    position: absolute;
    bottom: -5px;
    width: 100%;
    color: red;
}