@keyframes cadastro-aberto {
    from{transform:translateY(0)}
    from{transform:translateY(100%)}
}

.card-cadastro-container {
    display: flex;
    width: 390px;
    height: 855px;
    border-radius: 10px;
    background: var(--color-primary);
    position: absolute;
    background: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    flex-direction: column;
    animation-name: cadastro-aberto;
    animation-duration: 0.8s;
    justify-content: center;
}

.card-cadastro-titulo {
    font-size: 1.6rem;
    color: var(--color-primary);
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.card-cadastro-descricao {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    max-width: 80%;
    color: #8C9791;
    font-weight: normal;
    text-align: center;
}

.card-cadastro-form {
    display: flex;
    width: 85%;
    flex-direction: column;
}

.card-cadastro-label {
    color: #8C9791;
    font-size: 1.1rem;
    margin-left: 0.7rem;
    padding-bottom: 0.8rem;
}

.card-cadastro-input {
    border: none;
    border-bottom: 1px solid #2BD477;
    margin-bottom: 1rem;
    outline: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.3rem;
    font-size: 1rem;
}

#card-cadastro-input-T {
    width: 50%;
}

.card-cadastro-container-C {
    margin-top: 1rem;   
    text-align: center;
}

#card-cadastro-input-C {
    margin-right: 0.3rem;
    cursor: pointer;
}

#card-cadastro-label-C {
    font-size: 1.1rem;
    color: #5B5B5B;
    max-width: 30px;
}

.card-cadastro-label-L {
    color: #2BD477;
}

.card-cadastro-label-L:hover {
    color: #009231;
    transition: 0.3s ease;
}

#card-cadastro-B-cadastrar {
    margin-top: 2rem;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFFFFF;
    background: #2BD477;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#card-cadastro-B-cadastrar:hover {
    background-color: #FFFFFF;
    color: #2BD477;
    border: 1px solid #2BD477;
    transition: 0.3s ease;
}

.card-cadastro-logar-conta-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.card-cadastro-logar-conta {
    margin-top: 1.5rem;
    color: #5B5B5B;
    font-size: 1.1rem;
    font-weight: normal;
}

.card-cadastro-logar-conta-L {
    color: #2BD477;
    text-align: center;
    text-decoration: underline;
}

.card-cadastro-logar-conta-L:hover {
    color: #009231;
    transition: 0.3s ease;
    cursor: pointer;
}